
@using ping.ViewModels
@using Microsoft.AspNetCore.Identity


@model IdentityUser
@{
    ViewBag.Title = "Korisnici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/libs/site.css" rel="stylesheet" />



<div style="width: 100%">
    <h2 style="display: inline-block">Lista korisnika</h2>
    <a class="btn btn-success" style="float:right;display:inline" id="register" asp-area="Identity" asp-page="/Account/Register">Dodaj korisnika</a>


</div>

<table id="myTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>@ViewBag.ErrorMsg</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in ViewBag.Data)
        {
            <tr onmouseover="this.style.cursor='pointer'">
                <th>@user.UserName</th>
                <th>@user.Email</th>
                <th id="thOpcijeId">
                    @if (ViewBag.UserId!=user.Id)
                        @Html.ActionLink("Izbriši", "IzbrisiKorisnika", "Korisnici", new { korisnikId = user.Id }, new { @class = "btn btn-danger" })
                </th>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "sEmptyTable": "Nema dostupnih korisnika u tabeli",
                    "sInfo": "_START_-_END_ od ukupno _TOTAL_ redova",
                    "sInfoEmpty": "0-0 od ukupno 0 redova",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Prikaz _MENU_ redova",
                    "sLoadingRecords": "Učitavanje...",
                    "sProcessing": "Procesiranje...",
                    "sSearch": "Trazi:",
                    "sZeroRecords": "Nema odgovarajucih rezultata",
                    "oPaginate": {
                        "sFirst": "Prva",
                        "sLast": "Zadnja",
                        "sNext": "Sljedeca",
                        "sPrevious": "Prethodna"
                    },
                    "oAria": {
                        "sSortAscending": ": sortiraj kolonu rastuće",
                        "sSortDescending": ": sortiraj kolonu opadajuće"
                    }
                }
            });;//myTable is the id of the table to be displayed as dataTable
            $('div.dataTables_filter label input').css("display", "inline-block");
            $('div.dataTables_filter label input').css("width", "auto");
            $('div.dataTables_length label select').css("display", "inline-block");
            $('div.dataTables_length label select').css("width", "auto");
        });

    </script>
}

