@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrda resetovanje passworda";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaš password je resetovan. Molimo <a asp-page="./Login">kliknite ovdje da se prijavite</a>.
</p>
