@using Elevate.ViewModels
@using Elevate.Models.DatabaseKlase
@model NalogViewModel
@{
    ViewBag.Title = "Kreiraj nalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" action="@Url.Action("SpasiNalog", "Nalog")">
                <h4>Kreirajte novi nalog</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Auto"></label>
                    <input asp-for="Auto" readonly class="form-control" value=@ViewBag.AutoModel />
                    <span asp-validation-for="Auto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImePrezimeVozaca"></label>
                    <input asp-for="ImePrezimeVozaca" class="form-control" />
                    <span asp-validation-for="ImePrezimeVozaca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VrijemePocetak"></label>
                    <input asp-for="VrijemePocetak" class="form-control" />
                    <span asp-validation-for="VrijemePocetak" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VrijemeKraj"></label>
                    <input asp-for="VrijemeKraj" class="form-control" />
                    <span asp-validation-for="VrijemeKraj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PolaznaLokacija"></label>
                    <input asp-for="PolaznaLokacija" class="form-control" />
                    <span asp-validation-for="PolaznaLokacija" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DolaznaLokacija"></label>
                    <input asp-for="DolaznaLokacija" class="form-control" />
                    <span asp-validation-for="DolaznaLokacija" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BrojPutnikaUAutomobilu"></label>
                    <input asp-for="BrojPutnikaUAutomobilu" class="form-control" />
                    <span asp-validation-for="BrojPutnikaUAutomobilu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Potvrdi</button>
                </div>
                <div class="form-group" style="visibility:collapse;height:0;">
                    <input asp-for="AutoId" class="form-control" readonly value=@ViewBag.AutoId/>
                </div>
            </form>
        </section>
    </div>
</div>